@model StartSpelerMVC.Models.Persoon

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Persoon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voornaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voornaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Achternaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Achternaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Geboortedatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Geboortedatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wachtwoord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wachtwoord)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActief)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActief)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAdmin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAdmin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AangemaaktDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AangemaaktDatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Drankkaart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Drankkaart.Drankkaart_ID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomUser.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Persoon_ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
