@model StartSpelerMVC.ViewModels.DetailsPersoonViewModel

@{
    ViewData["Title"] = "Details";
    ViewData["Titel"] = "Klant Detail";

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="w-100 h-100 position-relative">
    <div class="Blauwachtergrond mx-auto my-auto DivKadercentreren  col-md-6 col-sm-10 h-75">
        <div>
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Persoon.Voornaam)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Persoon.Voornaam)
                </dd>
                <dt class="col-sm-4 ">
                    @Html.DisplayNameFor(model => model.Persoon.Achternaam)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Persoon.Achternaam)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Persoon.Geboortedatum)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Persoon.Geboortedatum)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Persoon.Email)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Persoon.Email)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Persoon.Wachtwoord)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Persoon.Wachtwoord)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Persoon.IsActief)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Persoon.IsActief)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Persoon.IsAdmin)
                </dt>
                <dd class="col-sm-8">
                    <form> @Html.CheckBox("item.Drankkaart.IsBetaald")</form>
                </dd>
            </dl>
            <a asp-action="Edit" asp-route-id=@Model.Persoon.Persoon_ID class="btn-orange">Aanpassen</a>
            <a asp-action="Delete" asp-route-id="@Model.Persoon.Persoon_ID" class="btn-red">Verwijderen</a>
        </div>
    </div>
</div>

