@model StartSpelerMVC.ViewModels.CreateBestellingViewModel


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}
<div class="position-absolute col-10 offset-1 col-sm-11">
    <h1>Bestelling</h1>

    <div class="row">
        @*overzicht producten*@

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Frisdrank
                    </th>
                    <th>
                        Alcoholische Drank
                    </th>
                    <th>
                        Snack
                    </th>                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Productenlijst)
                {
                    <tr>
                        <td> @*producttype=Frisdrank*@
                            @Html.DisplayFor(modelItem => item.ProductID)
                            @Html.DisplayFor(modelItem => item.VerkoopPrijs)
                        </td>
                        <td>@*producttype=alcohol*@
                            @Html.DisplayFor(modelItem => item.ProductID)
                            @Html.DisplayFor(modelItem => item.VerkoopPrijs)
                        </td>
                        <td>@*producttype=snack*@
                            @Html.DisplayFor(modelItem => item.ProductID)
                            @Html.DisplayFor(modelItem => item.VerkoopPrijs)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="row">
        @*totaal bestelling en buttons*@
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    </div>

    <div class="row">
        @*drankkaart*@
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
