@model StartSpelerMVC.ViewModels.DetailsProductViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Aantal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Aantal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.StartDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.StartDatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.EindDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.EindDatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.AankoopPrijs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.AankoopPrijs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.VerkoopPrijs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.VerkoopPrijs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Slotwaarde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Slotwaarde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Alcoholpercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Alcoholpercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Aantal_in_stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Aantal_in_stock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Aantal_in_Frigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Aantal_in_Frigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.IsZichtbaar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.IsZichtbaar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductType.Naam)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Product.ProductID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
