@model StartSpelerMVC.ViewModels.DetailsProductViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}
<div class="w-100 h-100 position-relative" >
    <div class="Blauwachtergrond mx-auto my-auto DivKadercentreren  col-md-6 col-sm-10 h-75 text-center">
        <div>
            <dl class="row">
                <dt class="col-sm-6 text-right">
                    @Html.DisplayNameFor(model => model.Product.Naam)
                </dt>
                <dd class="col-sm-6 text-left">
                    @Html.DisplayFor(model => model.Product.Naam)
                </dd>
                <dt class="col-sm-6 text-right">
                    @Html.DisplayNameFor(model => model.Product.Aantal)
                </dt>
                <dd class="col-sm-6 text-left">
                    @Html.DisplayFor(model => model.Product.Aantal)
                </dd>
                <dt class="col-sm-6 text-right">
                    @Html.DisplayNameFor(model => model.Product.StartDatum)
                </dt>
                <dd class="col-sm-6 text-left">
                    @Html.DisplayFor(model => model.Product.StartDatum)
                </dd>
                <dt class="col-sm-6 text-right">
                    @Html.DisplayNameFor(model => model.Product.EindDatum)
                </dt>
                <dd class="col-sm-6 text-left">
                    @Html.DisplayFor(model => model.Product.EindDatum)
                </dd>
                <dt class="col-sm-6 text-right">
                    @Html.DisplayNameFor(model => model.Product.AankoopPrijs)
                </dt>
                <dd class="col-sm-6 text-left">
                    @Html.DisplayFor(model => model.Product.AankoopPrijs)
                </dd>
                <dt class="col-sm-6 text-right">
                    @Html.DisplayNameFor(model => model.Product.VerkoopPrijs)
                </dt>
                <dd class="col-sm-6 text-left">
                    @Html.DisplayFor(model => model.Product.VerkoopPrijs)
                </dd>
                <dt class="col-sm-6 text-right">
                    @Html.DisplayNameFor(model => model.Product.Slotwaarde)
                </dt>
                <dd class="col-sm-6 text-left">
                    @Html.DisplayFor(model => model.Product.Slotwaarde)
                </dd>
                <dt class="col-sm-6 text-right">
                    @Html.DisplayNameFor(model => model.Product.Alcoholpercentage)
                </dt>
                <dd class="col-sm-6 text-left">
                    @Html.DisplayFor(model => model.Product.Alcoholpercentage)
                </dd>
                <dt class="col-sm-6 text-right">
                    @Html.DisplayNameFor(model => model.Product.Aantal_in_stock)
                </dt>
                <dd class="col-sm-6 text-left">
                    @Html.DisplayFor(model => model.Product.Aantal_in_stock)
                </dd>
                <dt class="col-sm-6 text-right">
                    @Html.DisplayNameFor(model => model.Product.Aantal_in_Frigo)
                </dt>
                <dd class="col-sm-6 text-left">
                    @Html.DisplayFor(model => model.Product.Aantal_in_Frigo)
                </dd>
                <dt class="col-sm-6 text-right">
                    @Html.DisplayNameFor(model => model.Product.IsZichtbaar)
                </dt>
                <dd class="col-sm-6 text-left">
                    @Html.DisplayFor(model => model.Product.IsZichtbaar)
                </dd>
                <dt class="col-sm-6 text-right">
                    @Html.DisplayNameFor(model => model.Product.ProductType.Naam)
                </dt>
                <dd class="col-sm-6 text-left">
                    @Html.DisplayFor(model => model.Product.ProductType.Naam)
                </dd>
            </dl>
            <section class="KnopOnderAanDiv">
                <a asp-action="Edit" asp-route-id="@Model.Product.ProductID" class="btn-orange">Edit</a>
                <a asp-action="Delete" asp-route-id="@Model.Product.ProductID" class="btn-red">Delete</a>
                <a asp-action="IndexManager" class="btn-orange">Back to List</a>
            </section>
        </div>
    </div>
</div>
