@using Microsoft.AspNetCore.Identity
@using StartSpelerMVC.Areas.Identity.Data;
@model StartSpelerMVC.ViewModels.ListProductViewModel

@{
    ViewData["Title"] = "Index";
    ViewData["Titel"] = "Drankkaart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject SignInManager<CustomUser> SignInManager
@inject UserManager<CustomUser> UserManager

<div class="w-100 h-100">
    <div class="row">
        <div class="col-3 BlauweKleur h-auto ">
            <div class="col-12">
                <h1 class="align-items-center">Frisdrank</h1>
            </div>
        </div>
        <div class="col-3 BlauweKleur align-items-center h-auto ">
            <div class="col-12">
                <h1 class="align-items-center">Alcoholiche drank</h1>
            </div>
        </div>
        <div class="col-3 BlauweKleur align-items-center h-auto ">
            <div class="col-12">
                <h1 class="align-items-center">Snack</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3 align-content-center h-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Frisdrankenlijst[0].Naam)
                        </th>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <th>
                                @Html.DisplayNameFor(model => model.Frisdrankenlijst[0].Slotwaarde)
                            </th>
                        }
                        else
                        {
                            <th>
                                @Html.DisplayNameFor(model => model.Frisdrankenlijst[0].VerkoopPrijs)
                            </th>
                        }
                        <th></th>
                        <th> @Html.DisplayNameFor(model => model.Frisdrankenlijst[0].Aantal)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Frisdrankenlijst)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Naam)
                            </td>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <td>
                                    @Html.DisplayFor(model => model.Frisdrankenlijst[0].VerkoopPrijs)
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(model => model.Frisdrankenlijst[0].Slotwaarde)
                                </td>
                            }
                            <td>
                                @using (Html.BeginForm("MinEenFris", "Product", new { Product_ID = item.ProductID }))
                                {
                                    <button id="SubtractOne" name="Vermeerderen" class="btn-primary">&lt;</button>
                                }
                            </td>
                            <td> @Html.DisplayFor(model => model.Frisdrankenlijst[0].Aantal)</td>
                            <td class="w-auto">
                                @using (Html.BeginForm("PlusEenFris", "Product", new { Product_ID = item.ProductID }))
                                {
                                    <button id="SubtractOne" class="btn-primary">&gt;</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-3 align-content-center h-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Alcohollijst[0].Naam)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Alcohollijst[0].Alcoholpercentage)
                        </th>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <th>
                                @Html.DisplayNameFor(model => model.Alcohollijst[0].Slotwaarde)
                            </th>
                        }
                        else
                        {
                            <th>
                                @Html.DisplayNameFor(model => model.Alcohollijst[0].VerkoopPrijs)
                            </th>
                        }
                        <th></th>
                        <th> @Html.DisplayNameFor(model => model.Alcohollijst[0].Aantal)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Alcohollijst)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Naam)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Alcoholpercentage)
                            </td>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.VerkoopPrijs)
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Slotwaarde)
                                </td>
                            }
                            <td>
                                @using (Html.BeginForm("MinEenAlcohol", "Product", new { Product_ID = item.ProductID }))
                                {
                                    <button id="SubtractOne" name="Vermeerderen" class="btn-primary">&lt;</button>
                                }
                            </td>
                            <td> @Html.DisplayFor(modelItem => item.Aantal)</td>
                            <td class="w-auto">
                                @using (Html.BeginForm("PlusEenAlcohol", "Product", new { Product_ID = item.ProductID }))
                                {
                                    <button id="SubtractOne" class="btn-primary">&gt;</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-3 align-content-center h-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Snacklijst[0].Naam)
                        </th>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <th>
                                @Html.DisplayNameFor(model => model.Snacklijst[0].Slotwaarde)
                            </th>
                        }
                        else
                        {
                            <th>
                                @Html.DisplayNameFor(model => model.Snacklijst[0].VerkoopPrijs)
                            </th>
                        }
                        <th></th>
                        <th> @Html.DisplayNameFor(model => model.Snacklijst[0].Aantal)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Snacklijst)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Naam)
                            </td>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.VerkoopPrijs)
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Slotwaarde)
                                </td>
                            }
                            <td>
                                @using (Html.BeginForm("MinEenSnack", "Product", new { Product_ID = item.ProductID }))
                                {
                                    <button id="SubtractOne" name="Vermeerderen" class="btn-primary">&lt;</button>
                                }
                            </td>
                            <td> @Html.DisplayFor(modelItem => item.Aantal)</td>
                            <td class="w-auto">
                                @using (Html.BeginForm("PlusEenSnack", "Product", new { Product_ID = item.ProductID }))
                                {
                                    <button id="SubtractOne" class="btn-primary">&gt;</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>