@model StartSpelerMVC.ViewModels.ListProductViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Product" asp-action="Search" method="get">
    <div>
        <p>
            Zoek Product type:
            <input asp-for="ZoekProduct" />
            <input type="submit" value="Zoeken" class="btn-orange" />|
            <a asp-controller="Product" asp-action="Index">Terug naar volledige lijst</a>
        </p>

    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].AankoopPrijs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].VerkoopPrijs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Slotwaarde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Alcoholpercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Aantal_in_stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Aantal_in_Frigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AankoopPrijs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerkoopPrijs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slotwaarde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alcoholpercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aantal_in_stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aantal_in_Frigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType.Naam)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
