@page
@model IndexModel
@{
    ViewData["Title"] = "Mijn Account";
    ViewData["ActivePage"] = ManageNavPages.Index;
    ViewData["Titel"] = "Mijn Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div>
    <div class="row">
        <div class="col-md-6">
            <form id="profile-form" method="get">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <section class="form-group">
                    <label asp-for="Input.Voornaam"></label>
                    @Html.DisplayFor(x => x.Input.Voornaam)

                </section>
                <section class="form-group">
                    <label asp-for="Input.Achternaam"></label>
                    @Html.DisplayFor(x => x.Input.Achternaam)
                </section>
                <section class="form-group">
                    <label asp-for="Input.Geboortedatum"></label>
                    @Html.DisplayFor(x => x.Input.Geboortedatum)
                </section>
                <section class="form-group">
                    <label asp-for="Input.Email"></label>
                </section>
                <section class="form-group">
                    <label asp-for="Input.Gebruikersnaam"></label>
                    @Html.DisplayFor(x => x.Input.Gebruikersnaam)
                </section>
                <section class="form-group">
                    <label asp-for="Input.Password"></label>
                    @Html.DisplayFor(x => x.Input.Password)
                </section>

                <section class="form-group">
                    @Html.DisplayFor(x => x.ToonIsActief)
                </section>
                <section class="form-group">
                    @Html.DisplayFor(x => x.ToonIsAdmin)
                </section>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}